-- Enable RLS ALTER TABLE storage.objects ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Give
users
access
to
own
folder\ ON storage.objects FOR ALL USING (bucket_id = 'recipes'); CREATE POLICY \Allow
public
read
access\ ON storage.objects FOR SELECT USING (bucket_id = 'recipes'); CREATE POLICY \Allow
authenticated
uploads\ ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'recipes' AND (request.jwt.role = 'authenticated' OR request.jwt.role = 'anon'));